doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{__('TITLE', community)}
    link(href="css/style.css", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800", rel="stylesheet", type="text/css")
  body
    #wrapper
      .main
        .header
          a.logo-wrap(href="http://juniordev.io")
            h1
              img.logo(src=`/images/logo_primary.svg` alt='Junior Dev')
          block header
            h2 #{__('HEADER', community)}

        .content
          block content

        .footer-wrap
          block footer
            a.levels-logo-wrap(href="http://levelsconf.com" target="_blank")
              img.logo(src=`/images/levelslogo.svg` alt='Levels Conf')
